body {
    font-family: Verdana, sans-serif;
}

/* add widget and edit/ add dasboard forms */
.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 100%;
    z-index: 1000;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group select {
    padding: 10px;
    border: 1px solid #cccccc;                       
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;       
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-buttons button {
    flex: 1;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-buttons button:first-child {
    background-color: #ff6f6f;
}

.form-buttons button:first-child:hover {
    background-color: #ff4c4c;
}

.form-buttons button:last-child {
    background-color: #4caf50;
}

.form-buttons button:last-child:hover {
    background-color: #3e8e41;
}

.form-buttons button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 500px) {
    .form {
        max-width: 90%;
    }
}

/* page with dashboards */
.dashboard-header {
    text-align: center;
    margin-top: 120px;
}

.dashboard-header h1 {
    font-size: 2rem;
    margin: 0;
}

.dashboard-header p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0 0;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 26px;
    justify-content: center;
    padding: 100px 200px;
}

.dashboard-square {
    width: 100%; 
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.4rem;
    font-weight: 550;
    cursor: pointer;
}

.dashboard-square:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.dashboard-square.add {
    background-color: #d9f9d9;
    font-size: 2rem;
    color: #2d7f2d;
}

.dashboard-square.fitts-law {
    background-color: #c5e5b5;
}

.dashboard-square.hicks-law {
    background-color: #b5dbe5;
}

.delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #918f8f;
    cursor: pointer;
}

.delete-button:hover {
    color: #444343;
}

/* page with widgets */
.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.header-square {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.3rem;
    font-weight: 550;
    cursor: pointer;
}

.header-square:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header-square.add {
    background-color: #d9f9d9;
    font-size: 2rem;
    color: #2d7f2d;
}

.header-square.fitts-law {
    background-color: #c5e5b5;
}

.header-square.hicks-law {
    background-color: #b5dbe5;
}

.widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 26px;
    justify-content: center;
    padding: 120px 200px;
}

.widget-square {
    width: 100%; 
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.4rem;
    font-weight: 550;
}

/* class widget-title should be in square in the bottom but it should sort of overlap from above and slightly go out of the square. */
.widget-title {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 550;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}